.aboutContainer {
	background-color: white;
	height: max-content;
	padding: 5.875rem 8rem 2.5rem 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	& .aboutTextWrapper {
		width: 45%;
		margin: auto 0;
		color: #000000;
		& .aboutTextHeader {
			font-family: "Lato-Black";
			font-size: 2.25rem;
			line-height: 43px;
			padding-bottom: 2rem;
		}
		& .aboutTextSubHeader {
			font-family: "Lato-Regular";
			font-size: 1.5rem;
			line-height: 140%;
		}
	}

	& .aboutImageContainer {
		margin: auto 0;
		width: 40%;
		img {
			border-radius: 15px;
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.aboutContainer {
		padding: 3rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		& .aboutTextWrapper {
			width: 100%;
			padding-bottom: 2rem;
		}
		& .aboutImageContainer {
			margin: auto 0;
			width: 100%;
		}
	}
}
