.homeWrapper {
	width: 100vW;
	height: 100vH;
	position: relative;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
	& .homeTextWrapper {
		position: absolute;
		top: 40%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		& .homeHeader {
			font-family: "Lato-Bold";
			font-size: 4.5rem;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 2rem;
		}
		& .homeSubHeader {
			font-family: "Lato-Black";
			font-size: 24px;
			line-height: 150%;
			text-align: center;
			color: #ffffff;
		}
	}
}
