.footerContainer {
	padding: 4.375rem 8rem 3rem 8rem;
	background: #fafafa;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& .addressWrapper {
		width: 30%;
		h1 {
			font-family: "Lato-Black";
			font-size: 1.5rem;
			line-height: 22px;
		}
		p {
			font-family: "Lato-Regular";
			font-size: 1.25rem;
			line-height: 22px;
		}
	}

	& .getInTouchWrapper {
		width: 40%;
		h1 {
			font-family: "Lato-Black";
			font-size: 1.5rem;
			line-height: 22px;
		}
		p {
			span {
				font-weight: bold;
				font-family: "Lato-Black";
			}
			margin: 0;
			margin-bottom: 1rem;
			font-family: "Lato-Regular";
			font-size: 1.25rem;
			line-height: 22px;
		}
	}
}
